* {
   --primary-color: #ededed;
   --secondary-color: #242424;
}

h5, h3{
   font-weight: 500;
}

strong{
   font-weight: 900;
}

.Main-Content {
   width: 100%;
   height: 100%;
   margin: auto;
}

.Divisor{
   width: 100%;
   border-bottom: 1px solid var(--secondary-color);
   margin: 20px 0px;
}

.Main {
   width: 70%;
   height: 300px;
   margin: auto;
}

.Certification-List{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.Certification-List>li{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Certification-circle {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: var(--primary-color);
   border: 3px solid var(--secondary-color);
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon{
   font-size: 50px;
}

.Certification-List>li>h3{
   padding-top: 5px;
}

.Certification-List>li>h5{
   text-align: center;
   width: 200px;
}

.Certification-text{
   padding: 0px 0px 30px 0;
   text-align: center;
}

.Certification-text>h2{
   padding-bottom: 10px;
   font-weight: 800;
}

.particle-canvas {
   position:fixed !important;
   left:0;
   top:0;
   width:100%;
   height:100%;
   z-index: -99999;
}

.TextScramble{
   width: 100%;
   height: 250px;
   background-color: black;
   float: left;
}

.TextScramble::after{
   clear: both;
}

.Logo-Footer{
   width: 90px;
   fill: var(--primary-color);
}

.Footer{
   display: flex;
   justify-content: space-around;
}

.Footer-Text{
   width: 250px;
   height: 100%;
   padding: 30px 20px 30px 20px;
   color: var(--primary-color);
   display: flex;
   flex-direction: column;
}

.Footer-Text a{
   padding: 5px 0 5px 0;
}

.Footer-Text p{
   padding-top: 10px;
}

.Divisor-V{
   width: 7px;
   height: 200px;
   border-left: 1px solid var(--primary-color);
   margin: 20px 0px;
}

@media (max-width: 480px) {
   .Certification-List {
      flex-direction: column;
   }

   .Certification-List>li{
      padding-bottom: 20px;
   }

   .Certification-circle{
      width: 200px;
      height: 200px;
   }

   .icon{
      font-size: 90px;
   }

   .Footer{
      flex-direction: column;
   }

   .TextScramble{
      height: auto;
   }

   .Divisor-V{
      margin-left: 20px;
      width: 60%;
      height: 0px;
      border-left: none;
      border-bottom: 1px solid var(--primary-color);
   }
}