* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-decoration: none;
  list-style: none;
  --primary-color: #ededed;
  --secondary-color: #242424;
}

a:link{
  color: var(--primary-color);
}

body {
  background-color: var(--primary-color );
}